@model ErrorViewModel

@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata.</h1>
<h2 class="text-danger">Bir hata oluştu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Hata ID'si:</strong> <code>@Model.RequestId</code>
    </p>
}

<a href="/">Ana Sayfaya Dön</a>