@model BurgerQueen.UI.Models.VM.DrinkVM.DrinkAddVM

@{
    ViewData["Title"] = "Yeni İçecek Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni İçecek Ekle</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImagePath" class="control-label"></label>
        <input asp-for="ImagePath" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="IsSugary" class="form-check-input" />
        <label asp-for="IsSugary" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="IsAlcoholic" class="form-check-input" />
        <label asp-for="IsAlcoholic" class="form-check-label"></label>
    </div>
    <div class="form-group">
        <label asp-for="Calories" class="control-label"></label>
        <input asp-for="Calories" class="form-control" />
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sizes" class="control-label"></label>
        <input asp-for="Sizes" class="form-control" />
        <span asp-validation-for="Sizes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ingredients" class="control-label"></label>
        <textarea asp-for="Ingredients" class="form-control"></textarea>
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Ekle" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}