@model BurgerQueen.UI.Models.VM.SideItemVM.SideItemDetailsVM

@{
    ViewData["Title"] = "Yan Ürün Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name Sil</h1>

<h3>Bu yan ürünü silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <!-- Details similar to Details view -->
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>