@model Disable2faViewModel
@{
    ViewData["Title"] = "İki Faktörlü Doğrulama Devre Dışı Bırak";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TwoFactorCode"></label>
                <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Devre Dışı Bırak</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}