@using BurgerQueen.UI.Models.VM.ApplicationUserVM
@model ShowRecoveryCodesVM
@{
    ViewData["Title"] = "Kurtarma Kodları";
}

<h2>Kurtarma Kodları</h2>
<p>İki faktörlü kimlik doğrulamanız başarıyla aktifleştirildi. İşte yeni kurtarma kodlarınız:</p>

<ul>
    @foreach (var code in Model.RecoveryCodes)
    {
        <li>@code</li>
    }
</ul>

<p>Bu kodları güvenli bir yerde saklayın. İki faktörlü doğrulama cihazınıza erişemediğiniz durumlarda bu kodlarla sisteme giriş yapabilirsiniz.</p>